<style>
  body {
    background-image: url(/images/login.jpg);
    font-family: 'Open Sans', sans-serif;
  }




  .content-container {
    margin-top: 370px;
    padding-left: auto;
  }

  div.transbox {

    margin: 30px;
    background-color: #ffffff;
    border: 4px solid black;
    opacity: 0.8;
    height: 250px
  }

  div.transbox h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #000000;
  }

  h1 {
    color: #000000;
    font-weight: bold;
    margin-top: 25px;
  }
</style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">DriverAlert</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto pd-6">
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/register">Sign Up</a>
        </li>


      </ul>

    </div>



  </nav>


  <div class="content-container">

    <div class="container-fluid">

      <div class="transbox text-center">
        <h1>Alert System</h1>
        <p>A portal to help you follow traffic rules and regulations</p>
        <br>
        <br>
        <a href="/login"><button class="btn btn-primary">Login</button></a>
        <a href="/register"> <button class="btn btn-primary">Signup</button></a>

      </div>







    </div>
  </div>

</body>

</html>